target/
*.class
*.log
.idea/
*.iml
.vscode/
.DS_Store
.env
infra/k8s/secret.yaml
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.claude/

# documentation et notes 
structure-projet.md
kubernetes-docs.md
upskills/

